pkgbase = hyperflux
	pkgdesc = Lightweight CLI download accelerator (fork of Axel) with URL range/list expansion
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Athanor-Lab/hyperflux
	arch = x86_64
	arch = aarch64
	license = GPL-2.0-or-later
	makedepends = autoconf-archive
	makedepends = gettext
	makedepends = pkgconf
	makedepends = txt2man
	depends = openssl
	source = hyperflux-1.0.0.tar.gz::https://github.com/Athanor-Lab/hyperflux/releases/download/v1.0.0/flux-1.0.0.tar.gz
	sha256sums = 3646dd6055d4cf89d96dd20fc4f434121a2360816a8e565dc2ab2ce62642213f

pkgname = hyperflux
